body{
    display: grid;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    grid-template-columns: auto auto;
    grid-template-areas: 
    'header header header'
    'nav main main'
    'footer footer footer';
}

header{
    grid-area: header;
    background-color: burlywood;
    color: black;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: gray 2px 2px;
}

nav{
    grid-area: nav;
    background-color: darkgrey;
    text-shadow: black 1px 1px;
    font-size: large;
}

nav ul{
    display: flex;
    flex-direction: column;
    color: white;
    list-style: none;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

main{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas: 
    'section section section'
    'section section section';
    margin: auto;
    gap: 20px;
}

main section{
    border: 2px solid #000;
    border-radius: 20px;
    margin: 10px;
}

main img{
    height: 400px;
}

main button{
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    border-radius: 10px;
}

main p{
    display: flex;
    justify-content: center;
}

footer{
    grid-area: footer;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}